<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	
	<servlet>
	    <servlet-name>ServletProgrameSe</servlet-name>
	    <servlet-class>info.programese.presentation.ServletProgrameSe</servlet-class>
	</servlet>	
	<servlet-mapping>
	    <servlet-name>ServletProgrameSe</servlet-name>
	    <url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>ServletAutenticador</servlet-name>
	    <servlet-class>info.programese.presentation.ServletAutenticador</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletAutenticador</servlet-name>
	    <url-pattern>/authentication</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>ServletRedirecionaCadastroObjeto</servlet-name>
	    <servlet-class>info.programese.presentation.ServletRedirecionaCadastroObjeto</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletRedirecionaCadastroObjeto</servlet-name>
	    <url-pattern>/redirecionaCadastroObjeto</url-pattern>
	</servlet-mapping>
	
		<servlet>
	    <servlet-name>ServletRedirecionaMaisDetalhesObjeto</servlet-name>
	    <servlet-class>info.programese.presentation.ServletRedirecionaMaisDetalhesObjeto</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletRedirecionaMaisDetalhesObjeto</servlet-name>
	    <url-pattern>/redirecionaMaisDetalhesObjeto</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>ServletCadastraObjeto</servlet-name>
	    <servlet-class>info.programese.presentation.ServletCadastraObjeto</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletCadastraObjeto</servlet-name>
	    <url-pattern>/cadastroObjeto</url-pattern>
	</servlet-mapping>
	
		<servlet>
	    <servlet-name>ServletCadastroUsuario</servlet-name>
	    <servlet-class>info.programese.presentation.ServletCadastroUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletCadastroUsuario</servlet-name>
	    <url-pattern>/cadastroUsuario</url-pattern>
	</servlet-mapping>
	
	
	
<!-- 	Wildcard - Padrões de URL não mapeados serão redirecionados para a página de login -->
<!-- 	<servlet-mapping> -->
<!-- 	    <servlet-name>ServletSGA</servlet-name> -->
<!-- 	    <url-pattern>/</url-pattern> -->
<!-- 	</servlet-mapping> -->
	

</web-app>